---
import Layout from '../layouts/Layout.astro'
---

<Layout title='Threejs 03 - Basic Scene'>
    <div class="container h-40 flex items-center justify-center">
        404...
    </div>
</Layout>

<style>
   
</style>
