---
import Layout from '../layouts/Layout.astro'
//import ThreejsLayout from '../layouts/ThreejsLayout.astro'
---

<Layout title='Hi'>
    <div class="container">
        <h1 class="text-2xl font-bold font-mono bg-slate-800 w-max">Three.js</h1>
    </div>
</Layout>

<style>
   
</style>
