---
import Navbar from '../components/threejs/FirstSectionNavbar.astro'
// Estas son las propiedades que podemos usar en el layout.
interface Props {
    title: string
}

const { title } = Astro.props
---

<main class="container pt-0 z-30">
    <Navbar title={title} />
    <slot />
</main>
